@keyframes verticalBreathing {
  0% {
    background-color: #fbf8f7;
    color: #090909;
  }

  25% {
    background-color: #f0af9a;
    color: #535151;
  }

  50% {
    background-color: #ef6335;
    color: #aba8a8;
  }

  75% {
    background-color: #f56636;
    color: #f2f1f1;
  }

  100% {
    background-color: #ef560a;
    color: #fbf9f9;
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
.app {
  text-align: center;
  min-height: 400px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  /*box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);*/  
  background-color: white;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 30px;
}
.logo{
  height: 8%;
  width: 8%;
  margin: auto;
  display: block;
}
.mobile-logo{
  height: 15%;
  width: 15%;
  margin: auto;
  display: block;
}
.answer-section {
  display: flex;
  flex-wrap: wrap;
  /*grid-template-columns: 1fr 1fr;*/
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  width:650px;
  /*margin: 20px auto;*/
  /*max-width: 500px;*/
  row-gap: 30px;
  padding: 10;
  column-gap: 15px;
  margin: auto;
}
.mobile-answer-section {
  display: flex;
  flex-wrap:wrap;
  position: relative;
  /*margin: 20px auto;*/
  max-width: 500px;
  row-gap: 30px;
  padding: 10px 10px;
  column-gap: 40px;
}
button {
  position: relative;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  color: #080808;
  background-color: #fdfaf9;
  border-radius: 30px;
  padding: 15px;
  align-items: center;
  cursor: pointer;
  border: 2px solid #ef560a;
  text-align: center;
}
GoBack{
  position: relative;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #080808;
    background-color: #fdfaf9;
    border-radius: 10px;
    padding: 12px;
    align-items: center;
    cursor: pointer;
    border: 3px solid #ef560a;
    text-align: center;
}
mobilebutton{
    position: relative;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #080808;
    background-color: #fdfaf9;
    border-radius: 30px;
    padding: 12px;
    align-items: center;
    cursor: pointer;
    border: 3px solid #ef560a;
    text-align: center;
}
.buttonclicked {
  animation: verticalBreathing 1s ease;
}

.showScore-section {
  font-size: 35px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media all and (max-width: 700px) {
  .app {
    padding: 5px;
    width: 90%;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 26px;
  }

  button {
    width: 100%;
    min-width: 60px;
  }
  mobilebutton{
    width:100%;
    min-width: 60px;
  }
  GoBack{
    width: 100%;
    min-width: 60px;
  }
}